@use '../../abstracts';

$color-picker-width: 25px;

.color-group{
    display: flex;
    flex-direction: column;
    & form{
        background-color: abstracts.$background-color-div;
        border-radius: abstracts.$border-radius;
    }
}

.export-button{
    position: relative;
    border: 1px solid white;
    width: 20px;
    height: 20px;
    opacity: 50%;
    background: transparent;
    float: right;
    margin-right: 10px;
    margin-top: 2px;
    & span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        color: white;
    }
    &:hover{
        cursor: pointer;
        opacity: 100%;
    }
    &:active{
        transform: scale(0.95);
    }
}

.color-group-header{
    margin-bottom: 10px;
    padding: 5px 0 10px 0;
    & h3{
        margin: 0;
        float: left;
    }
}

.color-input-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 5px;
    padding: abstracts.$padding-big;
    & div{
        position: relative;
        width: auto;
        margin-left:auto;
        margin-right: 10px;
    }
    & span{
        transform: scale(0.80);
        &:hover{
            cursor: default;
        }
    }
    & label{
        display: block;
        height: 15px;
        line-height: 10px;
        font-size: 0.90rem;
    }
    & input[type=color]{
        position: absolute;
        height: 100%;
        width: $color-picker-width;
        padding: 0;
        &:hover{
            cursor: pointer;
        }
    }
    & input[type=text]{
        width: 55px;
        padding: 3px 2px 3px 0;
        padding-left: $color-picker-width + 3px;
    }
}

.active-color{
    background-color: rgba(126, 126, 126, 0.25);
}

.add-subtract-color-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-top: 15px;
    & button{
        border: 1px solid white;
        text-align: center;
        width: 25px;
        height: 25px;
        position: relative;
        & span{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -60%);
            font-size: 1.5rem;
            color: white;
        }
        &:hover{
            cursor: pointer;
        }
        &:active{
            transform: scale(0.9);
        }
    }
}

.add-color{
    background: transparent;
    &:hover{
        background-color: rgb(255, 255, 255, 0.5);
    }
}

.subtract-color{
    background-color: rgba(245, 92, 92, 0.877);
    &:hover{
        background-color: rgb(251, 78, 78);
    }
}