@use '../../abstracts';

.sidebar{
    width: 275px;
    height: 100%;
    border: 1px solid green;
}

@media only screen and (max-width: abstracts.$layout-breakpoint-small) {
    .sidebar {
      width: 100%;
      height: 125px;
    }
  }