@use "../../abstracts";

.sidebar {
  position: default;
  width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  background-color: #040e1d;
  color: white;
  transition: 0.5s;
  z-index: 2;
  & h3, h4 {
    margin-top: 0;
    display: inline-block;
  }
  & h3 {
    margin-right: 8px;
  }
  & hr {
    border: 0.5px solid grey;
    opacity: 40%;
  }
  & label {
    color: rgb(224, 224, 224);
  }
  & section{
    padding: abstracts.$padding-big;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.show{
  right: 0px;
  display: block;
}

.hide{
  right: -275px;
  display: none;
}

@media only screen and (max-width: abstracts.$layout-breakpoint-medium) {
  .sidebar {
    position: absolute;
    width: 60%;
  }
}
